html{
    background-color: #000030;
    color: floralwhite;
}
body{
    text-align: center;
    padding-left: 30%;
    
}
.sect{
    width: 50%;
    padding-bottom: 20%;
    border: solid 2px;
}
.sect button{
    height: 30px;
    color: #000030;
    background-color: floralwhite;
    font-size: larger;
}
.sect button:hover{
    background-color: lightgray;
    font-size: x-large;
}
.sect .result{
    border-top: solid 2px;
    font-size: large;
    padding-top: 50px;
}
label{
    font-size: large;
    
}
input{
    border: solid #000030;
    font-size: larger;
}